<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Page.Title }} - WebGPU and WGSL quick reference and documentation">

    <!-- <link rel="icon" type="image/png" href="/favicon-32.png" /> -->
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">  

    <!-- Styles -->
    {{ $options := (dict "targetPath" "styles.css" "outputStyle" "compressed") }}
    {{ $styles := resources.Get "styles.scss" | toCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

    <title>{{ block "title" . }}
        {{ .Title }} - {{ .Site.Title }}
    {{ end }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GVD6TQJTW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-5GVD6TQJTW');
    </script>
</head>
<body>
    {{ block "body" . }}
    <div class="page">
        {{ partial "header.html" . }}
        <div class="main">
            <div class="sidebar toggle-menu">
                {{ partial "sidebar.html" . }}
            </div>
            <div class="content toggle-menu">
                {{ block "content" . }}
                {{ end }}
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
    {{ end }}

    <script>
        function toggleMenu() {
            console.log("toogleMenu()");
            const elements = document.getElementsByClassName("toggle-menu");
            for (let i = 0; i < elements.length; ++i) {
                console.log(elements[i]);
                elements[i].classList.toggle("menu-on");
            }
        }
        if (window.location.search.indexOf("menu") >= 0) {
            toggleMenu();
        }
    </script>
</body>
</html>